<a href="https://colab.research.google.com/github/paramik123/Python-programs/blob/main/Python_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Top python problems asked in interviews**

1. Python program to find the largest among the three numbers

In [ ]:
age1=int(input("Enter the first age"));
age2=int(input("Enter the second age"));
age3=int(input("Enter the third age"));

max=age1;
if max<age2:
  max=age2;
if max<age3:
  max=age3;
print(max);

Enter the first age20
Enter the second age30
Enter the third age13
30

2. Convert celsius to fahrenheit

In [ ]:
fahrenheit=int(input("Enter temperature"));
celsius=(5/9)*(fahrenheit-32);
print(celsius);

Enter temperature40
4.444444444444445

3. Swap two variables using a third variable.

In [ ]:
number1=int(input("Enter first number"));
number2=int(input("Enter second number"));
temp=number1;
number1=number2;
number2=temp;
print(number1);
print(number2);

Enter first number2
Enter second number3
3
2

4. Code to enter digits of a number given by a user

In [ ]:
Number=int(input("Enter your three digit number"));
a=Number%10;
Number=Number//10;
b=Number%10;
Number=Number//10;
rev=(a+b+Number);
print(rev);

Enter your three digit number342
9

5. Check if the number is even or odd.

In [ ]:
integer=int(input("Enter the number"));
if integer%2==0:
  print("Number is even");
else:
  print("Number is odd");

Enter the number4
Number is even

6. Print the reverse of a number

In [ ]:
num=int(input("Enter a number"));
a=num;
b=a%10;
num=num//10;
c=num%10;
num=num//10;
d=num%10;
e=num//10;
rev=b*1000+c*100+d*10+e;
print(rev);
if num==rev:
  print("True");
else:
  print("False");

Enter a number1234
4321
False

7. Check if the year is a leap year

In [ ]:
year=int(input("Enter the year"));
if year%4==0:
  print("Leap year");
else:
  print("Not a leap year");

Enter the year1997
Not a leap year

8. Find euclidean distance

In [ ]:
x_1=float(input("Enter x1 of x coordinate"));
x_2=float(input("Enter x2 of x coordinate"));
y_1=float(input("Enter y1 of y coordinate"));
y_2=float(input("Enter y2 of y coordinate"));
d=((x_2-x_1)**2+(y_2-y_1)**2)**0.5
print(d);

Enter x1 of x coordinate2
Enter x2 of x coordinate4
Enter y1 of y coordinate4
Enter y2 of y coordinate2.5
2.5

9. Python program to check that the three angles make a triangle

In [1]:
a= int(input("Enter first angle"));
b=int(input("Enter second angle"));
c=int(input("Enter third angle"));
if a+b+c==180 and a!=0 and b!=0 and c!=0:
  print("It is triangle");
else:
  print("It is not triangle");

Enter first angle70
Enter second angle110
Enter third angle90
It is not triangle

10. Given cost price and selling price, find if its profit or loss.

In [5]:
cp=float(input("Enter your cost price"));

sp=float(input("Enter your selling price"));
if cp>sp:
  amount=cp-sp;
  print("Loss",amount);
else:
  amount=sp-cp;
  print("Profit", sp-cp);

Enter your cost price34
Enter your selling price40
Profit 6.0

11.Calculate simple interest

In [7]:
p=float(input("Enter your principal"));
r=float(input("Enter your rate of interest"));
t=int(input("Enter your time in years"));
si=(p*r*t)/100;
print(si);
a=p+si;
print(a);

Enter your principal100
Enter your rate of interest2.5
Enter your time in years2
5.0
105.0

12. Check if the number is divisible by both 3 and 6.

In [8]:
number=int(input("Enter your number"));
if number%3==0 and number%6==0:
  print(number,'is divisible by both 3 and 6');
else:
  print(number,'is not divisible by both 3 and 6');

Enter your number12
12 is divisible by both 3 and 6

13. Write a program to find the sum of square of a given number.

In [9]:
num=int(input("Enter a number"));
a=num%10;
num=num//10;
b=num%10;
c=num//10;
sum=(a**2)+(b**2)+(c**2);
print(sum)

Enter a number234
29

14. Check if a given number is armstrong number or not.

In [ ]:
#same as above almost

if (a**3)+(b**3)+(c**3)==user_input